# Python 依赖
# 使用 pip install -r requirements.txt 安装

# 核心依赖
numpy>=2.2.6
h5py>=3.15.1
matplotlib>=3.10.8
pillow>=12.1.0
requests>=2.32.5
opencv-python==4.10.0.84
pyqtgraph>=0.13.7
shapely>=2.0.6

# GUI 框架
pyside6<6.10

# 打包工具
pyinstaller>=6.18.0
